<div class="container">
    <mat-card appearance="outlined" class="teclado" >
        <mat-card-content>
            <div class="row line-butons">
                <div class="col-lg-4 col-md-4 col-sm-4 col-4"  *ngFor="let i  of ['1','2','3']">
                    <button mat-fab color="white" (click)="sendKey(i)">
                        <span class="tecla">{{i}}</span>
        
                    </button>
                </div>
               
            </div>
            <div class="row line-butons">
                <div class="col-lg-4 col-md-4 col-sm-4 col-4"  *ngFor="let i  of ['4','5','6']">
                    <button mat-fab color="white"  (click)="sendKey(i)">
                        <span class="tecla">{{i}}</span>        
                    </button>
                </div>
               
            </div>
            <div class="row line-butons" >
                <div class="col-lg-4 col-md-4 col-sm-4 col-4" *ngFor="let i  of ['7','8','9']">
                    <button mat-fab color="white" (click)="sendKey(i)">
                        <span class="tecla">{{i}}</span>
                    </button>
                </div>
                
            </div>
            <div class="row line-butons">
                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                    <button mat-fab aria-label="send" color="warn" (click)="sendKey('backspace')">
                        <mat-icon>backspace</mat-icon>
                    </button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                    <button mat-fab color="white" (click)="sendKey('0')">
                        <span class="tecla">0</span>
                    </button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                    
                        <button mat-fab 
                        aria-label="send" 
                        color="primary" 
                        (click)="sendKey('send')"
                        [disabled]="disabledButton"
                        >
                            <mat-icon>send</mat-icon>
                        </button>
                   
                </div>
            </div>
        </mat-card-content>
    </mat-card>

   
</div>